html, body {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Roboto", -apple-system, "BlinkMacSystemFont", ".SFNSDisplay-Regular", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 12px;

  background-color: #252525;
}

div {
  margin: 0;
  padding: 0;
}

input {
  font: inherit;
}

.highlight {
  color: #1994fb;
}

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  justify-content: flex-end;
  flex: 5 0 auto;

  width: 100%;
  margin: 0;

  font-size: 3vw;
  font-weight: normal;

  background-color: #252525;
  color: #fff;
}

.login {
  flex: 0 0 auto;
  align-self: flex-end;

  margin: 10px 10px auto 0;
  padding: 8px;
  border: 1px solid #fff;

  font-size: 13px;
  text-decoration: none;

  background-color: transparent;
  color: #fff;

  transition: 150ms;
}

.login:hover, .login:focus {
  background-color: white;
  color: #333;
  opacity: 0.8;

  cursor: pointer;
}

.logo {
  flex: 0 0 auto;

  width: 455px; /* TODO: Change on different media sizes */
  margin-bottom: 20px;
}

.header .section {
  margin-bottom: 20px;
}

.header .section.formwrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;

  min-height: 75px;
  margin-top: 20px;
}

#sub-widget {
  align-self: stretch;

  min-height: 43px; /* based on the computed height of the form once it's rendered - needed to prevent "pop-in" effect */
  padding: 0 15px;

  font-size: 12px;

  opacity: 0;

  transition: 500ms;
}

#sub-widget label span {
  display: none;
}

#sub-widget label {
  flex: 0 2 250px;

  margin: 0;
}

#sub-widget form {
  display: flex;
  align-self: stretch;
  justify-content: center;
}

#sub-widget input[type="email"] {
  box-sizing: border-box;

  width: 100%;
  margin: 0;
  padding: 12px;
  border: 1px solid #000;
  border-right: 0;
  border-radius: 0;
  outline: 0;

  font-size: 12px;
  background-color: #FFF;
  color: #000;
}

#sub-widget input[type="submit"] {
  flex: 0 1 150px;

  margin: 0;
  padding: 12px 15px;
  border: 1px solid #000;
  border-left: 0;
  border-radius: 0;
  outline: 0;

  font-size: 12px;

  background-color: #1994fb;
  color: #FFF;

  cursor: pointer;
}

#response {
  min-height: 17px; /* based on computed height when this is rendered - needed to prevent "pop-in" effect */

  font-size: 12px;

  opacity: 0;

  transition: 500ms;
}

.content {
  display: -webkit-flex;
  display: flex;
  flex: 3 0 auto;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  padding: 30px 0;
  border-bottom: 8px solid #1994fb;

  background-color: #fff;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
  .login {
    margin: 25px 25px auto 0;
  }
}

.content .section {
  max-width: 250px;
  margin: 20px auto;

  text-align: center;

  background-color: #fff;
}

.content .section h2 {
  margin: 0 0 6px 0;

  font-size: 30px;
  font-weight: normal;

  color: #1994fb;
}

.content .section p {
  margin: 0;
}
