html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #252525;
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
}

div {
  margin: 0;
  padding: 0;
}

.highlight {
  color: #1994fb;
}

.header {
  background-color: #252525;
  font-size: 32px;
  font-size: 3vw;
  color: #fff;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  width: 100%;
  flex: 5 0 auto;
}

.login {
  align-self: flex-end;
  margin: 10px 10px auto 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px;
  font-size: 12px;
  text-decoration:none;
  flex: 0 0 auto;
}

.login:hover {
  text-decoration:none;
  color: #fff;
}

.logo {
  flex: 0 0 auto;
  min-width: 220px;
  max-width: 600px;
  width: 36%;
  margin-bottom: 20px;
}

.header .section {
  margin-bottom: 20px;
}

.header .section.formwrapper {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 75px;
  margin-top: 20px;
}

#sub-widget {
  align-self: stretch;
  opacity: 0;
  transition: 500ms;
  font-size: 12px;
  padding: 0 15px;
  min-height: 43px; /* based on the computed height of the form once it's rendered - needed to prevent "pop-in" effect */
}

#sub-widget label span {
  display: none;
}

#sub-widget label {
  flex: 0 2 250px;
  margin: 0;
}

#sub-widget form {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

#sub-widget input[type="email"] {
  background-color: #FFF;
  color: #000;
  font-size: 12px;
  border: 1px solid #000;
  border-right: 0;
  padding: 12px;
  outline: 0;
  width: 100%;
  border-radius: 0;
  margin: 0;
  box-sizing: border-box;
}

#sub-widget input[type="submit"] {
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #000;
  border-left: 0;
  background-color: #1994fb;
  color: #FFF;
  padding: 12px 15px;
  font-size: 12px;
  outline: 0;
  margin: 0;
  flex: 0 1 150px;
}

#response {
  font-size: 12px;
  opacity: 0;
  transition: 500ms;
  min-height: 17px; /* based on computed height when this is rendered - needed to prevent "pop-in" effect */
}

.content {
  background-color: #fff;
  width: 100%;
  padding: 30px 0;
  border-bottom: 8px solid #1994fb;
  flex: 3 0 auto;

  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
  .login {
    margin: 25px 25px auto 0;
  }
}

.content .section {
  margin: auto;
  background-color: #fff;
  text-align: center;
  max-width: 250px;
}

.content .section h2 {
  color: #1994fb;
  font-size: 20px;
}
